# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# Temporary files
tmp/
*.swp

# IDE and editor files
.vscode/
.idea/
*.iml

# Build artifacts
dist/
build/

# PM2 files
pm2*.log